WebSpra_20160304_XML/spielplan.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT spielplan (feld*)>
<!ELEMENT feld (#PCDATA | bild)*>
<!ELEMENT bild EMPTY>

<!ATTLIST feld
	x CDATA #REQUIRED
	y CDATA #REQUIRED
	type CDATA #IMPLIED
>
<!ATTLIST bild
	src CDATA #REQUIRED
>

<!ENTITY copyright "Copyright by Andreas Dietler">